<h1>TOP</h1>
<% if user_signed_in? %>
 あなたは<strong><%= current_user.email %></strong>としてログインしています。
<%= link_to 'プロフィール変更', edit_user_registration_path, :class => 'navbar-link' %> |
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "ログイン", new_user_session_path %>
<% end %>
